@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-primaryBackground text-primaryText dark:bg-darkBackground dark:text-darkPrimaryText;
  top: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans dark:text-darkPrimaryText !important;
  font-weight: 800 !important;
}

p, li {
  @apply font-sans dark:text-darkPrimaryText !important;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.skiptranslate > iframe {
  display: none;
}


/* Only display the element with targetLanguage in its ID */
#__next #google_translate_element .skiptranslate.goog-te-gadget [id*="targetLanguage"] {
  display: block !important; /* Ensure the dropdown is visible */
  visibility: visible !important;
}

#__next #google_translate_element .skiptranslate.goog-te-gadget {
  display:flex !important; /* Ensure the dropdown is visible */
  top: 0px;
  position:absolute;
  right: calc(50% - 50px);
  visibility: hidden !important;
  height: 20px !important;
}

#__next #google_translate_element .skiptranslate.goog-te-gadget select.goog-te-combo {
  width: 8rem;
  position:absolute;
  font-size: 12px;
  padding: 2px;
  border-radius: 12px;
  @apply font-sans dark:text-darkPrimaryText !important;
  @apply font-sans bg-primaryBackground text-primaryText dark:bg-darkBackground dark:text-darkPrimaryText;
  border: 1px solid #ccc;
}

#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
}

#goog-gt-tt  > #goog-gt-vt {
  display: none !important;
  visibility: hidden !important;
}

[class^="VIpgJd"] {
  background-color: transparent !important;
  box-shadow: none !important;
}
